.flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 131, 30);
}
  
.flex-container > div {
    background-color: #0eeb0e;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}